/* All to zero ! */
* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: Natsuki_Handwriting;
  src: url("../Font/n1.ttf");
}

/* Body */
body {
    width : 100%;
    height : 100%;
    font-family: 'Natsuki_Handwriting',sans-serif;
    margin-top: -16px;
}

#background {
    margin: 1em;
    background: rgba(0, 0, 0, 0.3);
}

/*Natsuki background*/
#Natsuki {
    width: 100%;
    height: 100%;
    background-image: url("../Images/Natsuki_Room.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    margin: 0;
    z-index: -1;
}
/* universe-ey background*/
.window {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: -2;
}

.stars {
    background-image: url("../Images/stars.png");
    height: 100%;
    width: 100%;
    position: absolute;
}
/*galaxies floating in the background*/
.space {
    background-image: url("../Images/space.png");
    background-size: 12.5%;
    height: 100%;
    width: 400%;
    position: absolute;
    animation: move_space 240s infinite linear;

}

/*dust floating in the bg*/
.space_dust {
    background-image: url("../Images/space_dust.png");
    background-size: 12.5%;
    height: 100%;
    width: 400%;
    animation: move_dust 120s linear infinite;
    position: absolute;
}
/*overlay for "expanding" the dust*/
.space_dust_expand {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    mix-blend-mode: overlay;
    animation: expand_dust 30s infinite;
}
/*overlay for making the dust pink*/
.space_dust_color {
    position: absolute;
    background-color: hotpink;
    height: 100%;
    width: 100%;
    mix-blend-mode: overlay;
}
/*animation for moving the dust*/
@keyframes move_dust {
    0% {
        transform: translateX(0) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}
/*animation for expanding the dust*/
@keyframes expand_dust {
    0% {opacity: 0;}
    32% {opacity: 0;}
    46% {opacity: 1;}
    48% {opacity: 1;}
    63% {opacity: 0;}
    100% {opacity: 0;}
}
/*animation for moving the galaxies*/
@keyframes move_space {
    0% {transform: translateX(0) translateY(0);}
    100% {transform: translateX(-50%) translateY(0);}
}

/* The Slider for the animation */
#load {
    animation: slide 2s;
}
/*animation for dust particles*/
@keyframes dust_animation {
    0% {
        opacity: 0;
        transform: translateX(0px) translateY(0px);
    }
    10% {opacity: 1;}
    40% {opacity: 1;}
    45% {opacity: 0.5;}
    50% {opacity: 1;}
    90% {opacity: 1;}
    100% {
        opacity: 0;
        transform: translateX(-400px) translateY(400px);
    }
}
/*shared css properties of dust particles*/
.dust {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: dust_animation;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    position: fixed;
    background-position: center;
    opacity: 0;
    z-index: -1;
}
/*individual dust particle properties*/
#dust1 {
    background-image: url('../Images/dust1.png');
    animation-duration: 40s;
}
#dust2 {
    background-image: url('../Images/dust2.png');
    animation-duration: 45s;
    animation-delay: 10s;
}
#dust3 {
    background-image: url('../Images/dust3.png');
    animation-duration: 35s;
    animation-delay: 20s;
}
#dust4 {
    background-image: url('../Images/dust4.png');
    animation-duration: 40s;
    animation-delay: 30s;
}

/* The place containing the text and all */
#wrapper {
    /*animation: slide 50s cubic-bezier(0.8, 0, 0, 0.8) infinite ; */
    opacity : 1;
    padding-top: 6.5%;
    width :100%;
    height: 100%;
}

/* navigation menu */
nav {
    position : sticky;
    top : 0;
    margin-left: 5%;
    height: 8%;
    width: 35%;
    text-shadow:
      -1px -1px 0 pink,
       1px -1px 0 black,
      -1px 1px 0 hotpink,
       1px 1px 0 hotpink;
    display: inline-block;
    font-size: 30px;
    z-index: 100000;
    text-align: left;
}
/* root of navigation links*/
nav ul {
    list-style: none;
}
/*elements of navigation menu*/
nav li {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-right: 10px;
}
/*links inside navigation menu*/
nav a {
    padding: 5px 10px 5px 10px;
    min-width: 70px;
    box-sizing: border-box;
    width: 100%;
}
/*on hover of links inside navigation menu*/
nav a:hover {
    background-color: rgb(255, 192, 206);
}
/*dropdown menu*/
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -88px;
    overflow: hidden;
    padding-top: 3px;
}
/*element of dropdown menu*/
nav ul ul li{
    width: 260px;
}
/*link inside element of dropdown menu*/
nav ul ul li a {
    box-sizing: border-box;
    width: 100%;
    background-color: pink;
}
/*show dropdown menu*/
nav ul li:hover > ul {
    display: inline-block;
}
/*keep more highlighted*/
nav ul li:last-child:hover {
    background-color: pink;
}

/* Custom des liens */
a {
    padding: 1.6% 3% 1.85% 3%;
    transition: background-color 0.2s;
    display: inline-block;
    text-decoration-line: none;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    color: deeppink;
    text-shadow:
     -1px -1px 0 pink,
      1px -1px 0 black,
      -1px 1px 0 hotpink,
       1px 1px 0 hotpink;
}
/*title stuff*/
h1 {
    font-size: 5em;
    margin-top: -40px;
}

h2 {
    font-size: 1.5em;
}
/*short blog post about the newest update*/
#Tweet {
    background: url("../Images/Cute_Frame.png");
    background-size: cover;
    background-position: center;
    height: 70%;
    margin-top: 8%;
    margin-left: 15%;
    margin-right:15%;
    padding-bottom: 10.5%;
    opacity: 0.75;
}
/*sub-title stuff*/
h5 {
    padding-top: 12%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.2em;
}

h4 {
    padding-left: 15%;
    padding-bottom: 3%;
    font-size: 1.5em;
}

#Tweet p {
    width: 70%;
    padding-left: 15%;
    padding-bottom: 5%;
    font-size: 1em;
    font-weight: bold;
}
/*default link css*/
a:link {
    color: deeppink;
}

a:visited {
    color: deeppink;
}

a:hover {
    color: blueviolet;
    background-color: pink;
}

a:checked {
    color: deeppink;
}
/*credits most likely*/
footer {
    width: 95%;
    margin-top: 10%;
    padding-bottom: 15px;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow:
     -1px -1px 0 white,
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}
/*download div*/
.download-dropmenu {
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    position: relative;
}
/*download button*/
.download-btn {
    border: 3px solid rgb(255, 189, 225);
    outline: 6px solid rgb(255, 189, 225);
    background-color: rgb(255, 230, 244);
    color: black;
    height: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    width: 410px
}
 
.download-btn:hover {
    border: 3px solid rgb(255, 225, 241);
    background-color: white;
}
/*contents of download dropmenu*/
.download-dropmenu-content {
    display: none;
    position: relative;
    text-align: center;
    min-height: 40px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: -69px;
    padding: 0px;
}
/*links inside download dropmenu*/
.download-dropmenu-content a {
    margin-top: 10px;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(255, 182, 193, 0.7);
    padding: 10px;
}
/*images inside download dropmenu*/
.download-dropmenu-content img {
    height: 30px;
}

.download-dropmenu-content a:hover {
    background-color: pink;
}
/*show dropmenu*/
.show {
    display: block;
}
/*stuff under blog post (sorry had no idea how to name it)*/
#underTweet{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    text-align: left;
}
/*text pointing to changelog link*/
#check-this-out {
    display: inline-block;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 30px;
    color: deeppink;
    font-weight: bold;
    text-shadow:
     -0.8px -0.8px 0 white,
     0.8px -0.8px 0 white,
     -0.8px 0.8px 0 white,
     0.8px 0.8px 0 white;
}
/*center */
#CenterUnderTweet {
    display: inline-block;
    width: 100%;
}
/*keep size of CenterContacts*/
#UnderTweetContents {
    width: 100%;
}
/*float stuff right*/
.side-right {
    float: right;
    text-align: right;
}
/*link to github changelog*/
#changelog {
    float: right;
    background-color: rgba(255, 182, 193, 0.7);
    padding: 5px;
    border-radius: 3px;
}
#changelog:hover{
    background-color: pink;
}