/* All to zero ! */
* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: Natsuki_Handwriting;
  src: url("../Font/n1.ttf");
}

/* Body */
body {
    width : 100%;
    height : 100%;
    font-family: 'Natsuki_Handwriting',sans-serif;
    background-image: url(../Images/JNBG.gif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#background {
    margin: 1em;
    background: rgba(0, 0, 0, 0.3);
}

/* The Slider for the animation */
#load {
    animation: slide 2s;
}

/* The background and all that */
@keyframes slide {
    0% {
        background: url("../Images/Natsuki1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height :100%;
    }
    20% {
        background: url("../Images/Natsuki2.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height :100%;
    }
    40% {
        background: url("../Images/Natsuki3.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height :100%;
    }
    60% {
        background: url("../Images/Natsuki4.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height :100%;
    }
    80% {
        background: url("../Images/Natsuki5.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height :100%;
    }
    100% {
        background: url("../Images/Natsuki1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        width: 100%;
        height :100%;
    }
}

/* The place containing the text and all */
#wrapper {
    /*animation: slide 50s cubic-bezier(0.8, 0, 0, 0.8) infinite ; */
    opacity : 0.75;
    padding-bottom : 6.55%;
    padding-top: 6.5%;
    width :100%;
    height: 100%;
}

/* Menu de navigation */
nav {
    position : sticky;
    Top : 0;
    margin-left: 5%;
    height: 8%;
    width: 35%;
    text-shadow:
      -1px -1px 0 pink,
       1px -1px 0 black,
      -1px 1px 0 hotpink,
       1px 1px 0 hotpink;
}

/* Liste du menu */
#Navigation_Menu{
    display: inline-block;
    margin: 2% 0% 0% 0%;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.Navigation {
    display: inline;
}


/*Drop-down Menu*/
.DropMenu {
    padding: 1.5% 7% 1.5% 7%;
    transition: background-color 0.4s;
    display: inline-block;
}

.DropMenu:link {
    color: deeppink;
}

.DropMenu:visited {
    color: deeppink;
}

.DropMenu:hover {
    color: blueviolet;
    background-color: pink;
}

.DropMenu:checked {
    color: deeppink;
}

#Liste {
    overflow: hidden;
}

/* Dropdown button */
#Liste .dropbtn {
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bold;
    text-shadow:
       -1px -1px 0 pink,
        1px -1px 0 black,
       -1px 1px 0 hotpink,
        1px 1px 0 hotpink;
    margin: 0; /* Important for vertical align on mobile phones */
    color: deeppink;
    background-color: transparent;
    transition: background-color 0.4s;
    display: inline-block;
}

.dropbtn:hover {
    background-color: pink;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 1.9%;
    margin-left: -24%;
    background-color: pink;
    width: 65%;
    z-index: 1;
}




/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: pink;
    padding: 1.6% 7% 1.85% 7%;
    display: block;
    text-align: middle;
    text-decoration-line: none;
}

/* Show the dropdown menu on hover */
.DropMenu:hover .dropdown-content {
    display: block;
    transition: background-color 0.4s;
}

.dropdown-content a:hover {
    background-color: pink;
}



/* Custom des liens */
a {
    padding: 1.6% 3% 1.85% 3%;
    transition: background-color 0.4s;
    display: inline-block;
    text-decoration-line: none;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    color: deeppink;
    text-shadow:
     -1px -1px 0 pink,
      1px -1px 0 black,
      -1px 1px 0 hotpink,
       1px 1px 0 hotpink;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 1.5em;
}

#Features {
    margin-top: 4%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    text-shadow:
     -1px -1px 0 white,
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}

#FeaturesText {
    display: inline-block;
    margin: 4% 0% 0% 0%;
    width: 100%;
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
}

.Features {
    display: inline;
    margin: 0% 7.5% 0% 7.5%;
    /*background-color: rgba(219,112,147,0.5)*/
}

#FeaturesImages {
    display: inline-block;
    margin: 1% 0% 0% 0%;
    width: 100%;
    font-size: 0.6em;
    font-weight: bold;
    font-style: italic;
}

.ImagesFeatures {
    display: inline;
    margin: 0% 3% 0% 3%;
}

#TeamTitle {
    width: 100%;
    margin-top: 10%;
    text-decoration-line: underline;
    text-decoration-style: double;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    text-shadow:
     -1px -1px 0 white,
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}

#Team {
    margin-top: 4%;
    margin-left: 15%;
    width: 70%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 1em 2em;
}

/* Avatar related */
.Avatars {
    margin-top: 3%;
    margin-left: 15%;
    margin-bottom: 3%;
    /*width: 40%;
    height: 40%;*/
}

.side-left {
    text-align: left;
    width: 30%;
}

.side-right {
    text-align: right;
    width: 30%;
}

#DescDaisy {
    width: 50%;
    height: 70%;
    font-size: 2em;
    font-weight: bold;
    border: 1px 1px 1px 1px;
    padding: 2% 1% 2% 1%;
    border-style: double;
    border-color: black;
    background-color: rgba(255,255,255,0.5);
}

#DescJMO {
    width: 50%;
    height: 70%;
    font-size: 2em;
    font-weight: bold;
    border: 1px 1px 1px 1px;
    padding: 1% 1% 1% 1%;
    border-style: double;
    border-color: black;
    background-color: rgba(255,255,255,0.5);
}

#DescJNN {
    width: 50%;
    height: 70%;
    font-size: 2em;
    font-weight: bold;
    border: 1px 1px 1px 1px;
    padding: 2% 1% 2% 1%;
    border-style: double;
    border-color: black;
    background-color: rgba(255,255,255,0.5);
}

#DescJp {
    width: 50%;
    height: 70%;
    font-size: 2em;
    font-weight: bold;
    border: 1px 1px 1px 1px;
    padding: 2% 1% 2% 1%;
    border-style: double;
    border-color: black;
    background-color: rgba(255,255,255,0.5);
}
#Feed {
    font-size: 1.1em;
    color: deeppink;
    text-shadow:
     -0.8px -0.8px 0 pink,
     0.8px -0.8px 0 pink,
      -0.8px 0.8px 0 pink,
      0.8px 0.8px 0 pink;
    text-align: center;
    width: 570px;
    display: inline-block;
}
#Github {
    font-size: 1.1em;
    text-shadow:
     -1px -1px 0 white,
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
    float: right;
    text-align: center;
    width: 570px;
}

#Github a img{
    padding: 10px;
    margin-top: 45px;
}

#Github a{
    padding: 0px;
    height: 270px;
}

#Tweet {
    margin-top: 5%;
}

h5 {
    padding-top: 12%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.2em;
}

h4 {
    padding-left: 15%;
    padding-bottom: 3%;
    font-size: 1.5em;
}

a:link {
    color: deeppink;
}

a:visited {
    color: deeppink;
}

a:hover {
    color: blueviolet;
    background-color: pink;
}

a:checked {
    color: deeppink;
}

footer {
    opacity: 0.75;
    width: 95%;
    margin-top: 10%;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow:
     -1px -1px 0 white,
      1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}
